<!DOCTYPE html>
{namespace bootstrap=TYPO3\Twitter\Bootstrap\ViewHelpers}
{namespace demo=Flowpack\SingleSignOn\DemoInstance\ViewHelpers}
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:f="http://www.w3.org/1999/html">
<head>
	<meta charset="utf-8">
	<title>SSO Demo Instance</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<f:base/>
	<bootstrap:include version="2.1" includeJQuery="TRUE"/>
	<link href="{f:uri.resource(path: 'Stylesheets/styles.css')}" rel="stylesheet"/>
</head>

<body>

<f:render partial="Shared/Navigation"/>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
			<div class="well sidebar-nav">
				<ul class="nav nav-list">
					<li class="nav-header">Sidebar</li>
					<li class="active">
						<f:link.action action="index" controller="Standard">Home</f:link.action>
					</li>
					<li>
						<f:link.action action="secure" controller="Standard">Secure</f:link.action>
					</li>
					<li>
						<f:link.action action="index" controller="Configuration">Configuration</f:link.action>
					</li>
				</ul>
			</div>
			<!--/.well -->
		</div>
		<!--/span-->
		<div class="span9">
			<f:flashMessages/>

			<div class="hero-unit">
				<h1>{settings.demoInstanceName}</h1>

				<p>You arrived at a demo instance using the SSO server.</p>

				<p>
					<f:link.action action="secure" class="btn btn-warning"><i class="icon-lock icon-white"></i> Go to secure action</f:link.action>
				</p>
				<p>
					<a href="{settings.demoServerUri}" class="btn btn-primary">Go to demo server</a>
				</p>
			</div>
			<f:security.ifAuthenticated>
				<f:then>
					<div class="alert alert-success alert-block">
						<h4 class="alert-heading">Already authenticated</h4>

						<p>
							You are already authenticated locally.
						</p>
					</div>
				</f:then>
				<f:else>
					<div class="alert alert-info alert-block">
						<h4 class="alert-heading">Not authenticated</h4>

						<p>
							You are not yet authenticated, so the local Single Sign-On provider will
							redirect you to the SSO server to authenticate for a secured resource.
						</p>
					</div>
				</f:else>
			</f:security.ifAuthenticated>
		</div>
	</div>

	<hr>

	<footer>
		<p>Flowpack.SingleSignOn</p>
	</footer>

</div>
</body>
</html>
